"Configuration for encoding.
set fileencodings=utf-8,iso-2022-jp,euc-jp,sjis

"When you start new line, make the same indent in new line with previous one. 
set ai

""When you start new line, make high level auto indentation.
set si

" Save 1,000 items in history
set history=1000

set ruler

" Display the incomplete commands in the bottom right-hand side of your screen.  
set showcmd

" Display completion matches on your status line
set wildmenu

" Show a few lines of context around the cursor
set scrolloff=5

" Highlight search matches
set hlsearch

" Enable incremental searching
set incsearch

" Ignore case when searching
set ignorecase

" Override the 'ignorecase' option if the search pattern contains upper case characters.
set smartcase

" Turn on line numbering
set number

" Turn on file backups
" no swap file
set backup
" no backup file(with tilde)
set nobackup

" Don't line wrap mid-word.
set lbr

" Copy the indentation from the current line.
set autoindent

" Enable smart autoindenting.
set smartindent

" Use spaces instead of tabs
set expandtab

" Enable smart tabs
set smarttab

" Do not make swap file
set noswapfile

" show current vim mode
set showmode

" Emulate vim-surround. Commands: ys, cs, ds, S.
set surround

" Allocate space key to <leader>
let mapleader = "\<Space>"

set easymotion
" turn on easymotion with space + s. Then push f to search character.
map <Leader> <Plug>(easymotion-prefix)

" Quickly save your file.
nmap <Leader>w :w!<cr>
" Quickly open the file.
nnoremap <Leader>o :CtrlP<CR>
" Quickly yank and paste with OS clip board. 
vmap <Leader>y "+y
vmap <Leader>d "+d
nmap <Leader>p "+p
nmap <Leader>P "+P
vmap <Leader>p "+p
vmap <Leader>P "+P

:imap jk <Esc>
:imap kj <Esc>

" If there are more than 1 tag matching file, Show the list.(with ctags)
nnoremap <C-]> g<C-]>

" For comment out
nnoremap <Leader>c :action CommentByLineComment<CR>
vnoremap <Leader>c :action CommentByLineComment<CR>
